.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* -------------shared styles--------------- */

.text-primary {
    color: #4E47FF;
}

.btn-primary {
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    border-radius: 10px;
    color: #FFFFFF;
    height: 48px;
    width: 136px;
    border: none;
    padding: 12px 36px;
}

.btn-primary:hover {
    background-color: #f5f2f2;
    color: #252432;
}

/* ------------------nav styles----------------- */

header {
    background-image: url(../image/Hero-bg.png);
    width: fit-content;
    height: 700px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px;
}

nav ul li {
    list-style: none;
}

.nav-title {
    font-size: 34px;
    font-weight: 800;
}

.banner-btn {
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    border-radius: 10px;
    color: #FFFFFF;
    width: 180px;
    height: 48px;
    padding: 12px 36px;
}

.banner-btn:hover {
    background-color: #f5f2f2;
    color: #252432;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;

}

.banner {
    text-align: center;
    margin: 200px 267px 170px 267px;

}


/* ------------------main styles---------------------- */


.main-pic {
    margin-top: 116px;
    margin-bottom: 116px;
    display: flex;
    justify-content: space-between;
    gap: 220px;
}

main {
    max-width: 1140px;
    margin: 0 auto;

}

.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-description {
    font-size: 24px;

    color: #25243274
}

.action-btn {
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    border-radius: 10px;
    color: #FFFFFF;
    width: 235px;
    height: 48px;
    padding: 12px 36px;

}

.action-btn:hover {
    background-color: #f5f2f2;
    color: #252432;
}

.action-img {
    border-radius: 48px;
}

/* ------------------------------------- */


.joined {
    background-color: #4d47ff2d;
    height: 320px;
    border-radius: 24px;
    padding: 50px 120px;
    margin-bottom: 130px;
}

.join-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}



.element-container {
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

.element-title {
    font-size: 65px;
    font-weight: bold;
    color: #4E47FF;

}

.element-description {
    color: #25243274;
    font-size: 20px;

}


.review {
    margin-bottom: 135px;
}


.review-title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 20px;
}


.reviewer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.card {
    border-radius: 14px;
    background-color: #f5f2f2;
    padding: 24px;

}

.card-title {
    font-size: 24px;
}

.avatar {
    border-radius: 50%;
}

.flow {
    text-align: center;
    margin-bottom: 100px;


}

.flow-div {
    align-items: center;
}

.section-btn {
    margin: 0 auto;
    display: block;
}

.section-btn:hover {
    background-color: #f5f2f2;
    color: #252432;
}

.big-img {
    border-radius: 48px;
    margin-top: 20px;
}

.section-title {
    font-size: 50px;
    font-weight: bold;
}

.form-class {
    display: flex;
    gap: 110px;
    justify-content: space-between;
    margin-bottom: 150px;

}

input[type="text"],
input[type="email"] {
    height: 64px;
    border-radius: 5px;
    background-color: aliceblue;
    display: block;
    width: 500px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

textarea {
    height: 64px;
    border-radius: 5px;
    background-color: aliceblue;
    display: block;
    width: 500px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.form-title {
    font-size: 97px;
    font-weight: bold;
}

.form-btn {
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    border-radius: 10px;
    color: #FFFFFF;
    width: 500px;
    height: 48px;
    padding: 12px 36px;
}

.form-btn:hover {
    background-color: #f5f2f2;
    color: #252432;
}

label {
    font-size: 18px;
    font-weight: 600;
}

/* ---------------------------------footer--------------- */

footer {
    text-align: center;
    margin-bottom: 80px;
}

.end {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-title {
    font-size: 100px;
    font-weight: 800;
    color: #4E47FF;
}