
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* -------------shared styles--------------- */

.text-primary{
    color: #4E47FF;
}
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    border-radius: 10px;
    color:#FFFFFF;
    height: 48px;
    width: 136px;
    border: none;
    padding: 12px 36px;
}
/* ------------------nav styles----------------- */

header{
    background-image: url(../image/Hero-bg.png);
    width:fit-content;
    height: 700px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px;
}
nav ul li{
    list-style: none;
}

.nav-title{
    font-size: 34px;
        font-weight: 800;
}

.banner-btn{
     margin: 0 auto;
     font-size: 16px;
     font-weight: bold;
     background-color: #4E47FF;
     border-radius: 10px;
     color:#FFFFFF;
     width: 180px;
     height: 48px;
     padding: 12px 36px;
     
    
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    color:#252432;
    margin-bottom: 37px;
    
}

   .banner {
    text-align: center;
    margin: 200px 267px 170px 267px;
    
}
 

/* ------------------main styles---------------------- */
    
    
.main-pic{
    margin-top: 116px;
    margin-bottom: 116px;
    display:flex;
    justify-content: space-between;
    gap: 220px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-description{
    font-size: 24px;
    
    color:#25243274
}

.action-btn{
    font-size: 16px;
     font-weight: bold;
     background-color: #4E47FF;
     border-radius: 10px;
     color:#FFFFFF;
     width: 235px;
     height: 48px;
     padding:12px 36px ;

}
.action-img{
    border-radius: 48px;
}